@font-face {
  font-family: JetBrains;
  src:
    url(./JetBrainsMono-Regular.ttf);
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: JetBrains;
  src:
    url(./JetBrainsMono-Bold.ttf);
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: GreatVibes;
  src:
    url(./GreatVibes-Regular.ttf);
  font-weight: normal;
  font-display: swap;
}